
.carusel__content {
  position: relative;
}

.carusel__container {
}

.carusel__slider-buttons-box {
  position: absolute;
  top: 80%;
  z-index: 3;
}

.carusel__slider-btn--left {
  width: 42px;
  height: 70px;
  border: none;
  background-color: $sariq;
  margin-right: 10px;
  background-image: url(../img/arov-left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 5px;

}

.carusel__slider-btn--right {
  width: 70px;
  height: 70px;
  border: none;
  background-color: $sariq;
  margin-right: 10px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border-radius: 5px;
}

.carusel__list {
  @include reset-list;
  max-width: 1920px;
  width: 100%;
  margin-top: -22px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.carusel__item {
  width: 100%;
}

.carusel__item-img-box {
  width: 100%;
}

.carusel__item-img {
  width: 1920px;
  height: 900px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  display: block;
  object-fit: cover;
}

.carusel__item-text-box {
  position: absolute;
  top: 30%;
}

.carusel__item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #272727;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.carusel__item-heading {
  max-width: 543px;
  width: 100%;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #272727;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.carusel__btn {
  max-width: 265px;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 24px 0px;
  text-align: center;
  background-color: $moviy;
  text-decoration: none;
  vertical-align: baseline;
  border-radius: 5px;
  display: inline-block;
}

@include retina-bg {
  .carusel__slider-btn--left {
    background-image: url(../img/arov-left@2x.png);

  }

  .carusel__slider-btn--right {
    background-image: url(../img/arrow@2x.png);
  }
}

@include breakpoint-down (950) {
  .carusel__item-heading {
    font-size: 40px;
    max-width: 500px;
  }
}

@include breakpoint-down (860) {
  .carusel__item-text-box {
    margin-top: 21px;
    text-align: center;
    max-width: 543px;
    width: 100%;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .carusel__item-heading {
    font-size: 48px;
    max-width: 543px;
    text-align: center;

  }
  .carusel__btn {
    display: none;
  }
  .carusel__slider-buttons-box {
    top: 55%;
    left: 15px;
  }
}

@include breakpoint-down (600) {
  .carusel__item-heading {
    font-size: 30px;
    line-height: 35px;
    max-width: 333px;
    margin-left: auto;
    margin-right: auto;
  }

  .carusel__slider-btn--left {
    width: 26px;
    height: 44px;
    margin-right: 5px;
    background-size: 17px 37px;
  }

  .carusel__slider-btn--right {
    width: 44px;
    height: 44px;
    background-size: 37px 37px;
  }
}

@include breakpoint-down (500) {
  .carusel__slider-buttons-box {
    top: 50%;
  }
}

@include breakpoint-down (420) {
  .carusel__slider-buttons-box {
    top: 45%;
  }
}

@include breakpoint-down (390) {
  .carusel__slider-buttons-box {
    top: 35%;
  }
}